* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 2.2vh;
    gap: 80px;
}

li {
    color: #fff;
    margin: 0 30px;
    font-size: 2.2vh;
    padding: 60px;
}



/* Estilos do vídeo */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
/* FIM DO VÍDEO */

/* main section */

main section p{
    color: #fff;
}










