* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

li {
    color: #fff;
    margin: 0 20px; /* Espaçamento entre os itens */
}

h1.nome {
    color: #fff;
}

/* Estilos do vídeo */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
/* FIM DO VÍDEO */









